# The Unconquerables of Open Access

## Adding reverse flip information

Project for the EAHIL conference 2023 : https://eahil2023.org/
Authors : **Floriane Muller & Pablo Iriarte**, University of Geneva  
Last update : 14.04.2023

This purpose of this notebook is to import the list of Reverse Flipped journals and add the information to the MEDLINE journals


### Sources

* MEDLINE journals enriched with Sherpa/Romeo & DOAJ journals data
* List of journals reverse flipped published by:

    Matthias, L., Jahn, N., & Laakso, M. (2019). The Two-Way Street of Open Access Journal Publishingâ€¯: Flip It and Reverse It. Publications, 7(2), Art. 2. https://doi.org/10.3390/publications7020023

    Supplementary Material:

        Doi: 10.5281/zenodo.2553582
        Link: https://zenodo.org/record/2553582
        Description: Reverse-flip Open Access Journals Dataset

## Extract data from CSV file

In [1]:
import pandas as pd

In [2]:
# Open extracted data
pubmed = pd.read_csv('data/temp/2023/merge_pubmed_sherpa_doaj.tsv', delimiter='\t', header=0)
pubmed

,NlmUniqueID,Title,MedlineTA,Country,Place,Publisher,PublicationFirstYear,PublicationEndYear,Frequency,ISSN-Electronic,...,DOAJ_title,DOAJ_eissn,DOAJ_Seal,DOAJ_date,DOAJ_year,DOAJ_license,DOAJ_author_holds_copyright_without_restrictions,DOAJ_last_updated,DOAJ_APC,DOAJ
0,9015384,20 century British history,20 Century Br Hist,England,"Eynsham, Oxford",Oxford University Press,1990,NaN,"4 no. a year,",1477-4674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101714112,A&A practice,A A Pract,United States,"[Philadelphia, PA]","Wolters Kluwer Health, Inc.",2018,NaN,Biweekly,2575-3126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101269322,AACN advanced critical care,AACN Adv Crit Care,United States,"Aliso Viejo, CA",American Association of Critical-Care Nurses (...,2006,NaN,Quarterly,1559-7776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0431420,AANA journal,AANA J,United States,"Park Ridge, Ill.",American Association of Nurse Anesthetists,1974,NaN,Bimonthly,2162-5239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101223209,The AAPS journal,AAPS J,United States,"Arlington, Va., USA",American Association of Pharmaceutical Scientists,2004,NaN,Four no. a year,1550-7416,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5274,8702287,Zoological science,Zoolog Sci,Japan,"Tokyo, Japan",Zoological Society of Japan,1984,NaN,"Monthly,",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5275,9435608,"Zoology (Jena, Germany)",Zoology (Jena),Germany,"Jena, Germany",Urban & Fischer,1994,NaN,"Six no. a year,",1873-2720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5276,101300786,Zoonoses and public health,Zoonoses Public Health,Germany,"Berlin, Germany",Blackwell Verlag,2007,NaN,Ten no. a year,1863-2378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5277,101179386,Zootaxa,Zootaxa,New Zealand,"Auckland, N.Z.",Magnolia Press,2001,NaN,Irregular,1175-5334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5278,9309124,"Zygote (Cambridge, England)",Zygote,England,"Cambridge ; New York, NY",Cambridge University Press,1993,NaN,"Quarterly,",1469-8730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Open extracted data
flipped = pd.read_csv('data/sources/reverse_flip/reverse_flips_dataset.csv', header=0)
flipped

,issn,year_founded,year_reverse_flipped,journal_location,society_affiliation,other_sci_affiliation,journal_name,post_flip_publisher,access_model,apc_pre,apc_post,apc_now,discipline,flipped_oa,born_oa,embargo
0,2190-5738,2011,2017,Saudi Arabia,0,King Abdulaziz City of Science and Technology ...,3 Biotech,Springer Nature,Hybrid,0.0,3000,3000,LS,0,1,12.0
1,1012-8255,1988,2016,Peru,0,Consejo Latinoamericano de Escuelas de Adminis...,Academia Revista Latinoamericana de Administra...,Emerald,Hybrid,0.0,1595,2950,SSH,1,0,0.0
2,1895-7455,1953,2017,Poland,0,"Institute of Geophysics, Polish Academy of Sci...",Acta Geophysica,Springer Nature,Hybrid,0.0,3000,3000,PSM,1,0,12.0
3,1745-7254,1980,2005,China,0,Chinese Academy of Sciences,Acta Pharmacologica Sinica,Springer Nature,Subscription,0.0,-,3300,Health,1,0,12.0
4,0210-4806,1977,2012,Spain,AsociaciÃ³n EspaÃ±ola de UrologÃ­a,0,Actas Urologicas Espanolas,Elsevier,Subscription,NaN,-,-,SSH,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,1303-829X,1976,2015,Turkey,Turkish Biochemical Society,0,Turk Biyokimya Dergisi,De Gruyter,Hybrid,120.0,1500,2000,PSM,1,0,12.0
148,1995-5855,2007,2013,-,0,0,Vienna Journal on International Constitutional...,De Gruyter,Hybrid,0.0,2450,2000,SSH,0,1,12.0
149,1525-4488,1999,2008,-,0,0,West Africa Review,AfricaResource,Subscription,0.0,-,-,SSH,0,1,NaN
150,1672-1977,2003,2013,China,Shanghai Association of Integrative Medicine a...,0,Zhong xi yi jie he xue bao = Journal of Chines...,Elsevier,Subscription,0.0,-,1800,Health,1,0,12.0
151,0289-0003,1984,2005,Japan,Zoological Society of Japan,0,Zoological Science,Zoological Society of Japan,Subscription,NaN,-,-,LS,1,0,NaN

In [4]:
flipped.dtypes

issn                      object
year_founded               int64
year_reverse_flipped       int64
journal_location          object
society_affiliation       object
other_sci_affiliation     object
journal_name              object
post_flip_publisher       object
access_model              object
apc_pre                  float64
apc_post                  object
apc_now                   object
discipline                object
flipped_oa                 int64
born_oa                    int64
embargo                  float64
dtype: object

In [5]:
flipped['discipline'].value_counts()

PSM       52
Health    39
SSH       38
LS        23
Name: discipline, dtype: int64

In [6]:
flipped['journal_location'].value_counts()

-                 46
USA               11
Iran              10
Poland             9
Japan              9
Spain              7
China              7
Brazil             6
India              6
Canada             5
UK                 4
Netherlands        3
Saudi Arabia       3
Australia          3
Turkey             2
Mexico             2
UK, Ireland        2
South Korea        2
Venezuela          1
Peru               1
Switzerland        1
Russia             1
South Africa       1
Romania            1
France             1
EU                 1
Belarus            1
Belgium            1
New Zealand        1
Argentina          1
Czech Republic     1
Ireland            1
Malaysia           1
Name: journal_location, dtype: int64

In [7]:
flipped['year_reverse_flipped'].value_counts()

2013    22
2015    16
2014    15
2011    14
2017    13
2016    13
2012    13
2018    10
2010    10
2009     9
2005     8
2008     5
2006     3
2019     1
Name: year_reverse_flipped, dtype: int64

In [8]:
flipped['access_model'].value_counts()

Subscription    76
Hybrid          76
Name: access_model, dtype: int64

In [9]:
flipped['flipped_oa'].value_counts()

1    95
0    57
Name: flipped_oa, dtype: int64

In [10]:
flipped['born_oa'].value_counts()

0    95
1    57
Name: born_oa, dtype: int64

In [11]:
flipped['embargo'].value_counts()

12.0    73
24.0    16
0.0     13
18.0     8
6.0      2
Name: embargo, dtype: int64

In [12]:
# rename cols
flipped = flipped.rename(columns={'issn' : 'ISSN',
                                  'journal_name' : 'flipped_journal_name',
                                  'embargo' : 'flipped_embargo',
                                  'access_model' : 'flipped_access_model',
                                  'born_oa' : 'flipped_born_oa'
                                 })

In [13]:
# keep main fields
flipped_selection = flipped[['ISSN', 'flipped_journal_name', 'flipped_embargo', 'flipped_access_model', 'flipped_born_oa']]

In [14]:
# merge
pubmed = pubmed.merge(flipped, on='ISSN', how='left')
pubmed

,NlmUniqueID,Title,MedlineTA,Country,Place,Publisher,PublicationFirstYear,PublicationEndYear,Frequency,ISSN-Electronic,...,flipped_journal_name,post_flip_publisher,flipped_access_model,apc_pre,apc_post,apc_now,discipline,flipped_oa,flipped_born_oa,flipped_embargo
0,9015384,20 century British history,20 Century Br Hist,England,"Eynsham, Oxford",Oxford University Press,1990,NaN,"4 no. a year,",1477-4674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101714112,A&A practice,A A Pract,United States,"[Philadelphia, PA]","Wolters Kluwer Health, Inc.",2018,NaN,Biweekly,2575-3126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101269322,AACN advanced critical care,AACN Adv Crit Care,United States,"Aliso Viejo, CA",American Association of Critical-Care Nurses (...,2006,NaN,Quarterly,1559-7776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0431420,AANA journal,AANA J,United States,"Park Ridge, Ill.",American Association of Nurse Anesthetists,1974,NaN,Bimonthly,2162-5239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101223209,The AAPS journal,AAPS J,United States,"Arlington, Va., USA",American Association of Pharmaceutical Scientists,2004,NaN,Four no. a year,1550-7416,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5274,8702287,Zoological science,Zoolog Sci,Japan,"Tokyo, Japan",Zoological Society of Japan,1984,NaN,"Monthly,",NaN,...,Zoological Science,Zoological Society of Japan,Subscription,NaN,-,-,LS,1.0,0.0,NaN
5275,9435608,"Zoology (Jena, Germany)",Zoology (Jena),Germany,"Jena, Germany",Urban & Fischer,1994,NaN,"Six no. a year,",1873-2720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5276,101300786,Zoonoses and public health,Zoonoses Public Health,Germany,"Berlin, Germany",Blackwell Verlag,2007,NaN,Ten no. a year,1863-2378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5277,101179386,Zootaxa,Zootaxa,New Zealand,"Auckland, N.Z.",Magnolia Press,2001,NaN,Irregular,1175-5334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5278,9309124,"Zygote (Cambridge, England)",Zygote,England,"Cambridge ; New York, NY",Cambridge University Press,1993,NaN,"Quarterly,",1469-8730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
pubmed.loc[pubmed['flipped_journal_name'].notna(), 'Reverse_Flip'] = 'yes'
pubmed

,NlmUniqueID,Title,MedlineTA,Country,Place,Publisher,PublicationFirstYear,PublicationEndYear,Frequency,ISSN-Electronic,...,post_flip_publisher,flipped_access_model,apc_pre,apc_post,apc_now,discipline,flipped_oa,flipped_born_oa,flipped_embargo,Reverse_Flip
0,9015384,20 century British history,20 Century Br Hist,England,"Eynsham, Oxford",Oxford University Press,1990,NaN,"4 no. a year,",1477-4674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101714112,A&A practice,A A Pract,United States,"[Philadelphia, PA]","Wolters Kluwer Health, Inc.",2018,NaN,Biweekly,2575-3126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101269322,AACN advanced critical care,AACN Adv Crit Care,United States,"Aliso Viejo, CA",American Association of Critical-Care Nurses (...,2006,NaN,Quarterly,1559-7776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0431420,AANA journal,AANA J,United States,"Park Ridge, Ill.",American Association of Nurse Anesthetists,1974,NaN,Bimonthly,2162-5239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101223209,The AAPS journal,AAPS J,United States,"Arlington, Va., USA",American Association of Pharmaceutical Scientists,2004,NaN,Four no. a year,1550-7416,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5274,8702287,Zoological science,Zoolog Sci,Japan,"Tokyo, Japan",Zoological Society of Japan,1984,NaN,"Monthly,",NaN,...,Zoological Society of Japan,Subscription,NaN,-,-,LS,1.0,0.0,NaN,yes
5275,9435608,"Zoology (Jena, Germany)",Zoology (Jena),Germany,"Jena, Germany",Urban & Fischer,1994,NaN,"Six no. a year,",1873-2720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5276,101300786,Zoonoses and public health,Zoonoses Public Health,Germany,"Berlin, Germany",Blackwell Verlag,2007,NaN,Ten no. a year,1863-2378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5277,101179386,Zootaxa,Zootaxa,New Zealand,"Auckland, N.Z.",Magnolia Press,2001,NaN,Irregular,1175-5334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5278,9309124,"Zygote (Cambridge, England)",Zygote,England,"Cambridge ; New York, NY",Cambridge University Press,1993,NaN,"Quarterly,",1469-8730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Counts

In [16]:
# journals reverse flipped
pubmed.loc[pubmed['flipped_journal_name'].notna()].shape[0]

9

In [17]:
# journals reverse flipped %
pubmed.loc[pubmed['flipped_journal_name'].notna()].shape[0] / pubmed.shape[0]

0.0017048683462777042

## Add Flipped data to MeSH

In [18]:
MeshHeadings = pd.read_csv('data/temp/2023/merge_MeshHeadings_sherpa_doaj.tsv', encoding='utf-8', header=0, sep='\t')
MeshHeadings

,NlmUniqueID,MeshHeading,sherpa_id_x,sherpa_has_oa_path,embargo,sherpa_id_y,embargo_published_version,embargo_accepted_version,sherpa_oa_green,sherpa_id,additional_oa_fee,sherpa_oa_hybrid,DOAJ_Seal,DOAJ
0,9015384,History,1406.0,yes,24.0,1406.0,NaN,24.0,yes,1406.0,yes,hybrid or gold,NaN,NaN
1,9015384,United Kingdom,1406.0,yes,24.0,1406.0,NaN,24.0,yes,1406.0,yes,hybrid or gold,NaN,NaN
2,101637720,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101714112,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101269322,Critical Care,10921.0,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26785,21830020R,History of Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26786,0233767,Dentistry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26787,9309124,Embryonic Development,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN
26788,9309124,Fetal Development,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN
26789,9309124,Zygote,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN

In [19]:
BroadJournalHeadings = pd.read_csv('data/temp/2023/merge_BroadJournalHeadings_sherpa_doaj.tsv', encoding='utf-8', header=0, sep='\t')
BroadJournalHeadings

,NlmUniqueID,BroadJournalHeading,sherpa_id_x,sherpa_has_oa_path,embargo,sherpa_id_y,embargo_published_version,embargo_accepted_version,sherpa_oa_green,sherpa_id,additional_oa_fee,sherpa_oa_hybrid,DOAJ_Seal,DOAJ
0,9015384,History of Medicine,1406.0,yes,24.0,1406.0,NaN,24.0,yes,1406.0,yes,hybrid or gold,NaN,NaN
1,101637720,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101714112,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101269322,Critical Care,10921.0,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101269322,Nursing,10921.0,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16386,0056272,Reproductive Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16387,0056272,Veterinary Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16388,21830020R,History of Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16389,0233767,Dentistry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16390,9309124,Embryology,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN

In [20]:
pubmed_flipped = pubmed[['NlmUniqueID', 'Reverse_Flip', 'flipped_embargo', 'flipped_access_model', 'flipped_born_oa']]
pubmed_flipped

,NlmUniqueID,Reverse_Flip,flipped_embargo,flipped_access_model,flipped_born_oa
0,9015384,NaN,NaN,NaN,NaN
1,101714112,NaN,NaN,NaN,NaN
2,101269322,NaN,NaN,NaN,NaN
3,0431420,NaN,NaN,NaN,NaN
4,101223209,NaN,NaN,NaN,NaN
...,...,...,...,...,...
5274,8702287,yes,NaN,Subscription,0.0
5275,9435608,NaN,NaN,NaN,NaN
5276,101300786,NaN,NaN,NaN,NaN
5277,101179386,NaN,NaN,NaN,NaN
5278,9309124,NaN,NaN,NaN,NaN

In [21]:
MeshHeadings = pd.merge(MeshHeadings, pubmed_flipped, on='NlmUniqueID', how='left')
MeshHeadings

,NlmUniqueID,MeshHeading,sherpa_id_x,sherpa_has_oa_path,embargo,sherpa_id_y,embargo_published_version,embargo_accepted_version,sherpa_oa_green,sherpa_id,additional_oa_fee,sherpa_oa_hybrid,DOAJ_Seal,DOAJ,Reverse_Flip,flipped_embargo,flipped_access_model,flipped_born_oa
0,9015384,History,1406.0,yes,24.0,1406.0,NaN,24.0,yes,1406.0,yes,hybrid or gold,NaN,NaN,NaN,NaN,NaN,NaN
1,9015384,United Kingdom,1406.0,yes,24.0,1406.0,NaN,24.0,yes,1406.0,yes,hybrid or gold,NaN,NaN,NaN,NaN,NaN,NaN
2,101637720,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101714112,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101269322,Critical Care,10921.0,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26785,21830020R,History of Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26786,0233767,Dentistry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26787,9309124,Embryonic Development,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN,NaN,NaN,NaN,NaN
26788,9309124,Fetal Development,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN,NaN,NaN,NaN,NaN
26789,9309124,Zygote,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
BroadJournalHeadings = pd.merge(BroadJournalHeadings, pubmed_flipped, on='NlmUniqueID', how='left')
BroadJournalHeadings

,NlmUniqueID,BroadJournalHeading,sherpa_id_x,sherpa_has_oa_path,embargo,sherpa_id_y,embargo_published_version,embargo_accepted_version,sherpa_oa_green,sherpa_id,additional_oa_fee,sherpa_oa_hybrid,DOAJ_Seal,DOAJ,Reverse_Flip,flipped_embargo,flipped_access_model,flipped_born_oa
0,9015384,History of Medicine,1406.0,yes,24.0,1406.0,NaN,24.0,yes,1406.0,yes,hybrid or gold,NaN,NaN,NaN,NaN,NaN,NaN
1,101637720,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101714112,Anesthesiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101269322,Critical Care,10921.0,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101269322,Nursing,10921.0,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16386,0056272,Reproductive Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16387,0056272,Veterinary Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16388,21830020R,History of Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16389,0233767,Dentistry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16390,9309124,Embryology,2242.0,yes,6.0,2242.0,NaN,6.0,yes,2242.0,yes,hybrid or gold,NaN,NaN,NaN,NaN,NaN,NaN

## Exports

In [23]:
# Exports csv
pubmed.to_csv('results/2023/MedlineJournals.tsv', sep='\t', encoding='utf-8', index=False)
pubmed.loc[pubmed['Reverse_Flip'] == 'yes'].to_csv('results/2023/MedlineJournals_reverseflip.tsv', sep='\t', encoding='utf-8', index=False)
MeshHeadings.to_csv('results/2023/MeshHeadings.tsv', sep='\t', encoding='utf-8', index=False)
BroadJournalHeadings.to_csv('results/2023/BroadJournalHeadings.tsv', sep='\t', encoding='utf-8', index=False)

In [24]:
# exports excel
pubmed.to_excel('results/2023/MedlineJournals.xlsx', index=False)
pubmed.loc[pubmed['Reverse_Flip'] == 'yes'].to_excel('results/2023/MedlineJournals_reverseflip.xlsx', index=False)
MeshHeadings.to_excel('results/2023/MeshHeadings.xlsx', index=False)
BroadJournalHeadings.to_excel('results/2023/BroadJournalHeadings.xlsx', index=False)